<html>
  <head>
    <title>Openvpn stats</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Date</th>
        <th>Common name</th>
        <th>Real IP</th>
        <th>Virtual IP</th>
        <th>Received</th>
        <th>Sent</th>
        <th>Last session started</th>
        <th>Sessions</th>
      </tr>
      {% for date_data in data %}
        <tr>
          <td rowspan="{{ date_data['stats'] | length }}">{{ date_data['date'] }}</td>
          {% for stat in date_data['stats'] %}
          <td>{{ stat['cn'] }}</td>
          <td>{{ stat['real'] }}</td>
          <td>{{ stat['virtual'] }}</td>
          <td>{{ stat['recv'] }}</td>
          <td>{{ stat['sent'] }}</td>
          <td>{{ stat['since'] }}</td>
          <td>{{ stat['sessions'] }}</td>
        </tr>
          {% if not loop.last %}
            {% set first_col = false %}
          {% else %}
            {% set first_col = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
  </body>
</html>
